<script>
    document.querySelectorAll("a[href^='http']").forEach(n => {
        const before = "{{ partial "icon.html" "@@/" }}";
        const url = n.href;
        const icon = "https://s2.googleusercontent.com/s2/favicons?domain_url=" + url;
        n.style.setProperty("--icon", `url(${icon})`);
        n.style.paddingLeft = "20px";

        (async function test () {
            const trimmedURL = url.replace(/https?:\/\/?/, "");
            const res = await fetch("https://url-title.vercel.app/" + trimmedURL)
            const text = await res.text()
            n.title = text
        })()
    })
</script>
