<style>
.admonition {
    margin: 20px;
    border: 2px solid var(--admonition-border);
    border-radius: 5px;
    --admonition-border: var(--text-color);
    --admonition-bg: white;
    --admonition-icon: url(https://raw.githubusercontent.com/feathericons/feather/master/icons/info.svg)
}

.admonition-content {
    padding: 5px;
}

.admonition-content > * {
    max-width: 100%;
}

.admonition-warning {
    --admonition-bg: yellow;
    --admonition-icon: url(https://raw.githubusercontent.com/feathericons/feather/master/icons/alert-triangle.svg)
}

.admonition-example {
    --admonition-bg: #008000;
    --admonition-icon: url(https://raw.githubusercontent.com/feathericons/feather/master/icons/target.svg)
}

.admonition-info {
    --admonition-bg: blue;
}

.admonition-header {
    border-radius: 3px;
    display: flex;
    align-items: center;
    background-color: var(--admonition-bg);
}

body.dark .admonition-header {
    color: var(--background-color);
}

.admonition-icon {
    width: 30px;
    height: 30px;
    background-image: var(--admonition-icon);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 20px;
}

.admonition-header p {
    text-align: center;
}

</style>
