<div id="breadcrumbs">
    {{ template "breadcrumbnav" (dict "p1" . "p2" .) }}
</div>
{{ define "breadcrumbnav" }}
{{ if .p1.Parent }}
    {{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 )  }}
{{ else if not .p1.IsHome }}
    {{ template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 )  }}
{{ end }}
    {{ if (eq .p1 .p2) }}
    <a class="with-icon" style="background-position: center; --icon:url({{ trim ( partialCached "icon-url.html" .p1.Params.icon .p1.Params.icon) "\n" }})" class="page-link"><br/></a>
    {{ else }}
        {{ partialCached "page-link.html" .p1 .p1.Permalink }}
    {{ end }}
{{ end }}
