<style>
div#breadcrumbs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
div#breadcrumbs > * {
    color: black;
    margin: 1px;
    padding: 5px;
    border-radius: 5px;
    padding-left: 25px;
    text-decoration: none;
    border: black 2px solid;
}

div#breadcrumbs > .icon {
    width: 20px;
    height: 20px;
}

div#breadcrumbs > .active {
    font-weight: bold;
}
@media print {
    div#breadcrumbs {
        display: none;
    }
}
</style>
<div id="breadcrumbs">
    {{ template "breadcrumbnav" (dict "p1" . "p2" .) }}
</div>
{{ define "breadcrumbnav" }}
{{ if .p1.Parent }}
    {{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 )  }}
{{ else if not .p1.IsHome }}
    {{ template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 )  }}
{{ end }}
    {{ if (eq .p1 .p2) }}
        {{ partialCached "icon.html" .p1.Params.icon .p1.Params.icon }}
    {{ else }}
        {{ partialCached "page-link.html" .p1 .p1.Permalink }}
    {{ end }}
{{ end }}
