{{ $index := getJSON "./content/meta.json" }}
{{ $page := .Page }}
{{ $content := .Content }}

{{ $content = replaceRE  `(?s)<pre><code class="language-ad-([a-z]*)[^>]*>title:([^\n]*)\n(.+?)<\/code><\/pre>` (partial "admonition.html" (dict "body" (safeHTML "<markdownme>$3</markdownme>") "type" "$1" "title" "$2")) $content }}

{{ $extraBlocks := findRE "(?s)<markdownme>.+?</markdownme>" $content }}
{{ range $extraBlocks }}
{{ $body := replaceRE "(?s)<markdownme>(.+?)</markdownme>" "$1" . }}
    <script>console.log("{{ $body }}")</script>
{{ $content = replace $content . ($body | markdownify) 1 }}
{{ end }}

{{ $links := findRE "\\!\\[\\[([^\\]]*)\\]\\]" $content}}
{{ range $links }}
    {{ $wikilink := . }}
    {{ $wikilinkName := . | replaceRE "\\!\\[\\[(.*)\\]\\]" "$1" | replaceRE "\\..*$" "" }}
    {{ $path := $wikilinkName }}
    {{ if (isset $index $wikilinkName) }}
        {{ $meta := index $index $wikilinkName }}
        {{ $path = $meta.path }}
    {{ end }}
    {{ $path := $path | replaceRE "^([^/])" "/$1" }}
    {{ $linkPlaceholder := "<img src=\"$path\"></img>" }}
    {{ $link := replace $linkPlaceholder "$path" $path  }}
    {{ $content = replace $content $wikilink $link }}
{{ end }}

{{ $links := findRE "\\[\\[([^\\]]*)\\]\\]" $content}}
{{ range $links }}
    {{ $wikilink := . }}
    {{ $wikilinkName := . | replaceRE "\\[\\[(.*)\\]\\]" "$1" }}
    {{ $path := $wikilinkName }}
    {{ $path = strings.TrimSuffix "_index.md" $path }}
    {{ if (isset $index $wikilinkName) }}
        {{ $path = (index $index $wikilinkName).path }}
    {{ else }}
        {{ $path = printf "%s.md" $wikilinkName }}
    {{ end }}
    {{ $path := $path  | replaceRE "^([^/])" "/$1" }}
    {{ with site.GetPage $path }}
        {{ $link := partialCached "page-link.html" . .Permalink | string }}
        {{ $link = trim $link "\n" | safeHTML }}
        {{ $content = replace $content $wikilink $link }}
    {{ end }}
{{ end }}

{{ $content | safeHTML }}
